.App-header {
  height: 45vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.App-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Boards-completed {
  margin-top: 10px;
  font-size: calc(10px + 2vmin);
}

.Pairs-correct {
  margin-bottom: 10px;
  font-size: calc(10px + 1vmin);
}

.Instructions {
  margin-top: 30px;
  font-size: calc(10px + 2vmin);
}

.Rectangle {
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: yellow;
}
